{%extends "base.html"%}

{%block page_head%}
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/index_page.css')}}">
{%endblock%}

{%block body%}
<div id="main-content">
    <header class="card-container">
        <img src="{{url_for('static', filename='logo.png')}}" alt="App Logo">
        <p class="tagline">
            Your instant insights assistant for text and PDF files.
        </p>
        <a href="{{url_for('query_page')}}" class="primary-button cta-button">Start Analyzing Now</a>
        <br><br>
        <a href="{{url_for('gradio_interface')}}" class="primary-button cta-button" style="background-color: var(--color-secondary);">Try Gradio Interface</a>
    </header>

    <section id="about" class="card-container">
        <h2>About This App</h2>
        <p>
            This is a simple, AI-powered application designed to help you quickly
            extract information and get answers based on the content of your uploaded files.
        </p>
        <p>
            Simply upload one or more <i>PDF</i> or <i>text files</i>, type your question, and our AI model will
            read and synthesize the information to provide a comprehensive response.
            It's fast, private, and efficient.
        </p>
        <h2>Technologies Used</h2>
        <ul>
            <li>Python: Main programming language.</li>
            <li>Flask: Python web framework for the web application.</li>
            <li>PyMuPDF: Python library for pdf text extraction.</li>
            <li>HTML: For the frontend (client interactions).</li>
            <li>CSS: For styling the HTML.</li>
            <li>Groq + Llama 3.3: LLM model for generating response.</li>
            <li>FAISS: Vector search for retrieval.</li>
            <li>SentenceTransformers: Embeddings for semantic search.</li>
        </ul>
    </section>
</div>
{%endblock%}
